# Configuración del Servidor CS2
CS2_RCON_HOST=127.0.0.1
CS2_RCON_PORT=27015
CS2_RCON_PASSWORD=pswrd

# Configuración de NestJS
PORT=3000


#Ruta donde está instalado el servidor dedicado en el disco local, hasta la carpeta "server", sin barra al final.
CS2_SERVER_ROOT_DIR=D:\Servidor_CS2\server

# URL pública o de red local de tu backend de NestJS adonde MatchZy enviará los Webhooks
BACKEND_WEBHOOK_URL=http://localhost:3000

# Clave simétrica aleatoria para validar la seguridad entre MatchZy y Nest (webhooks)
MATCHZY_WEBHOOK_TOKEN=pswrd